.homepage-cover {
  background-image: url(/resource/backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
